<footer class="pure-g">
  <div class="footer-left pure-u-1 pure-u-md-1-2">
    <p class="column-header">ii2030</p>
    <p>Oct 18 - 19, 2017 | Berlin, Germany</p>
    <p class="contact">For more information contact:</p>
    <p class="contact">Megan Leahy-Wright</p>
    <p class="contact">m.leahy@endeva.org</p>
    <p class="contact">For Precision Agriculture and Aritificial Intelligence:</p>
    <p class="contact">Christina Tewes-Gradl</p>
    <p class="contact">c.gradl@endeva.org</p>
    <p class="contact">For Drones track:</p>
    <p class="contact">Tendai Pasipanodya</p>
    <p class="contact">t.pasipanodya@endeva.org</p>
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <p class="column-header">Site map</p>
    <div class="pure-g">
      {% for section in site.data.nav %}
        <div class="pure-u-1 pure-u-md-1-3">
        {% for nav in section.navs %}
            {% if nav.link %}
            <p class="site-map-item"><a href="{{ nav.link }}">{{ nav.name }}</a></p>
            {% else %}
            <p class="site-map-item">{{ nav.name }}</p>
            {% if nav.sub_navs %}
              {% for sub_nav in nav.sub_navs %}
              <p class="sub-nav">
                {% if sub_nav.link %}
                <a data-scroll href="{{ site.baseurl }}{{ sub_nav.link }}" class="">{{ sub_nav.name }}</a>
                {% else %}
                <a class="pure-menu-disabled" disabled>{{ sub_nav.name }}</a>
                {% endif %}
              </p>
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>

</footer>