<footer class="pure-g">
  <div class="footer-left pure-u-1 pure-u-md-1-2">
    <p class="column-header">ii2030</p>
    <p>Oct 18 - 19, 2017 | Berlin, Germany</p>
    <p class="contact">For more information:</p>
    <p class="contact">Email: <a href="mailto:m.leahy@endeva.org">Megan Leahy-Wright</a></p>
    <p class="contact">Facebook: <a href="https://www.facebook.com/inclusiveinnovation2030/">Inclusive Innovation 2030</a><p>
    <p class="contact">Twitter: <a href="hhttps://twitter.com/ii2030_Berlin">@ii2030_Berlin</a></p>
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <p class="column-header">Site map</p>
    <div class="pure-g">
      {% for section in site.data.nav %}
        <div class="pure-u-1 pure-u-md-1-3">
        {% for nav in section.navs %}
            {% if nav.link %}
            <p class="site-map-item"><a href="{{ nav.link }}">{{ nav.name }}</a></p>
            {% else %}
            <p class="site-map-item">{{ nav.name }}</p>
            {% if nav.sub_navs %}
              {% for sub_nav in nav.sub_navs %}
              <p class="sub-nav">
                {% if sub_nav.link %}
                <a data-scroll href="{{ site.baseurl }}{{ sub_nav.link }}" class="">{{ sub_nav.name }}</a>
                {% else %}
                <a class="pure-menu-disabled" disabled>{{ sub_nav.name }}</a>
                {% endif %}
              </p>
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>

</footer>