<nav class="pure-menu pure-menu-horizontal">
  <div class="navbar-left">
    <a href="#" class="pure-menu-link menu-heading">ii2030 | Berlin | Oct 18 - 19, 2017</a>
  </div>

  <div class="navbar-right">
    <ul class="pure-menu-list">
      {% for page in site.data.pages %}
        <li class="pure-menu-item"><a href="#{{ page.url }}" class="pure-menu-link">{{ page.name }}</a></li>
      {% endfor %}
    </ul>
      <a href="{{ site.registration_page_url }}"><button class="btn orange animate">Register</button></a>
  </div>
</nav>