<div class="pure-g">
  <div class="pure-u-1 pure-u-md-1-2">
    <div class="image oversize">
      <img src="{{ site.github.url }}/assets/images/head-icon-standardized.png" alt="Robot head" class="pure-img robot-head">
      <img src="{{ site.github.url }}/assets/images/tour-icon-standardized-labelled.png" alt="Robot body" class="pure-img animate-move-right active robot-body">
      <img src="{{ site.github.url }}/assets/images/factory-icon-standardized.png" alt="Robot feet" class="pure-img animate-move-right robot-feet">
    </div>
  </div>
    <div class="pure-u-1 pure-u-md-1-2 agenda-item vert-center">
      <div class="text vert-spacing horiz-spacing">
        <div class="text">
          <div class="vert-spacing">
            <h3 class="agenda-title">{{ page.tour_agenda.name }}</h3>
            <small class="agenda-date bold">{{ page.tour_agenda.date }} {{ page.tour_agenda.location }}</small>
            <p class="agenda-description vert-spacing">{{ page.tour_agenda.description }}</p>
          </div>
        </div>
      </div>
    </div>
</div>
<section class="schedule">
  <div class="schedule-grid">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <div class="label">
          <h3>Day 1: Tour</h3>
        </div>
      </div>
    </div>
    <div class="pure-g background-container">
      <div class="pure-u-1 pure-u-md-1-3">
        <div class="time">
          <div class="text">
            <h3>Midday</h3>
            <p>11:30 - 14:00</p>
          </div>
          <div class="clock midday">
            <svg viewBox="0 0 32 32">
              <circle r="16" cx="16" cy="16" />
            </svg>
          </div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-2-3">
        <div class="content">
          <h3>Registration and Kick-off @ Mozilla</h3>
          <p>Get the low-down on the day with a kick-off presentation and instructions for your track</p>
        </div>
      </div>
    </div>
    <div class="pure-g background-container">
      <div class="pure-u-1 pure-u-md-1-3">
        <div class="time">
          <div class="text">
            <h3>Afternoon</h3>
            <p>14:30 - 18:30</p>
          </div>
          <div class="clock afternoon">
            <svg viewBox="0 0 32 32">
              <circle r="16" cx="16" cy="16" />
            </svg>
          </div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-2-3">
        <div class="content">
          <h3>Inclusive Innovation Tour</h3>
          <p>Explore Berlin’s buzzing social innovation scene with a 4-hour tour of local inclusive businesses, innovative companies and leading think tanks</p>
        </div>
      </div>
    </div>
    <div class="pure-g background-container">
      <div class="pure-u-1 pure-u-md-1-3">
        <div class="time">
          <div class="text">
            <h3>Evening</h3>
            <p>18:30 - 22:00</p>
          </div>
          <div class="clock evening">
            <svg viewBox="0 0 32 32">
              <circle r="16" cx="16" cy="16" />
            </svg>
          </div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-2-3">
        <div class="content">
          <h3>Meet & Greet Dinner</h3>
          <p>Meet and connect with other participants of the tour and conference</p>
        </div>
      </div>
    </div>
  </div>
</section>