<div id="tour">
  <section class="intro">
    <header>
      <h2 class="subtitle">
        <span class="underlined">Day 1: Inclusive Innovation Tour</span>
        <img src="{{ site.github.url }}{{ page.icon_path }}" alt="{{ page.title }} icon">
      </h2>
      <div class="headline vert-spacing">
        Hit the road on our Inclusive Innovation Tour of Berlin!
      </div>
    </header>

    <div class="outer-container">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2 vert-center horiz-center">
          <div class="image oversize">
            <img src="{{ site.baseurl }}/assets/images/tour-detailed.png" alt="ii2030" class="pure-img">
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 vert-center slide-container">
          {% for slide in page.tour_slides %}
            <div class="slide text horiz-spacing vert-spacing">
              <p>{{ slide.text }}</p>
              <p>
                <i class="fa fa-pause pause-btn" aria-hidden="true"></i>
                <i class="fa fa-step-forward play-btn" aria-hidden="true"></i>
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  {% if page.tour_stops_headline %}
  <section id="tour-stops">
    <header>
      <h2 class="subtitle">
        <span class="underlined">Tour Stops</span>
        <img src="{{ site.github.url }}{{ page.icon_path }}" alt="{{ page.title }} icon">
      </h2>
      <p class="headline vert-spacing">{{ page.tour_stops_headline }}</p>
    </header>
    <div class="timeline">
      <div class="stop-dots">
        <div class="line"></div>
      </div>
    </div>
    <div class="pure-g tour-stops slide-container">
      {% for tour_stop in page.tour_stops %}
      <div class="pure-u-1 slide">

        <div class="content-container pure-g centered">
          <div class="pure-u-1">
            {% if tour_stop.image %}
            <div class="image">
              <img src="{{ site.github.url }}/assets/images/{{ tour_stop.image }}" alt="{{ tour_stop.name }}" class="pure-img">
            </div>
            {% endif %}
            <h3>{{ tour_stop.organization }}</h3>
            <p>{{ tour_stop.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  {% endif %}

  <section>
    <div class="factory-button">
      <button class="btn animate orange next-btn" onClick="$('#tour-factory .page-slide.slide-container').slick('slickNext')">
        Day 2: Factory
        <img src="{{ site.github.url }}/assets/images/factory-icon.png" alt="tour icon">
      </button>
    </div>
  </section>
</div>
