---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include favicon.html %}
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
  <!--<![endif]-->
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Roboto:300,500" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>

  <script src="{{ site.baseurl }}/assets/js/smooth-scroll.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/custom.js"></script>
</head>

<body>
{% include navbar.html %}

<main>
  <section id="landing">
    <div class="outer-container">
      <div class="pure-g background-container">
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="horiz-spacing vert-spacing">
            <h1><span class="underlined">Innovating for a more inclusive 2030</span></h1>
            <div class="vert-spacing">
              <h3>Inclusive Innovation Tour & Factory</h3>
              <p class="bold">An Endeva initiative</p>
              <p>Oct 18 - 19, 2017<br>Berlin, Germany</p>
            </div>
            <a data-scroll href="#overview"><button class="btn white animate">Learn more</button></a>
            <a href="{{ site.registration_page_url }}"><button class="btn orange animate">Register</button></a>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 image-container">
          <img src="{{ site.baseurl }}/assets/images/head.png" alt="Robot head" class="pure-img oversize">
        </div>
      </div>
    </div>
  </section>

  <section id="overview">
    <header>
      <h2 class="subtitle"><span class="underlined">Conference Overview</span></h2>
      <div class="headline">
        <span class="headline-container desktop">ii2030 will bring together innovators from
          <span id="cycle-participants" class="bold fade-in">
            corporates
          </span>
          <br> to create solutions for a more inclusive society by 2030
        </span>
        <span class="headline-container mobile">
          ii2030 will bring together innovators from corporates, startups, the public sector, NGOs, and science to create solutions for a more inclusive society by 2030
        </span>
      </div>
    </header>
    <div class="outer-container">
      <div class="pure-g background-container">
        <div class="pure-u-1 pure-u-md-1-2 vert-center horiz-center">
          <div class="image oversize">
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 vert-center slide-container">
          <div class="text vert-spacing horiz-spacing">
            <p>Over two exciting days, participants from every sector will <span class="bold">connect</span>, <span class="bold">collaborate</span> and <span class="bold">construct</span> new ideas.</p>
          </div>
          <div class="text vert-spacing horiz-spacing">
            <p>The conference will foster mutual learning, as well as the creation of <span class="bold">valuable partnerships</span> to enhance and share knowledge.</p>
          </div>
          <div class="text vert-spacing horiz-spacing">
            <p>ii2030 will be a first step in exploring not only why these challenges to inclusion exist, but also how we can apply <span class="bold">cutting-edge technology</span> and <span class="bold">solutions</span> to interrupt them and build a more inclusive society by 2030.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="agenda">
    <header>
      <h2 class="subtitle"><span class="underlined">Agenda</span></h2>
      <div class="headline">
        <div class="day-selector">
          <button data-day="day-1" class="btn btn-day1 white active day-1">Day 1: Tour</button>
          <button data-day="day-2" class="btn btn-day2 white day-2">Day 2: Factory</button>
        </div>
      </div>
    </header>
    <div class="outer-container">
      <div class="pure-g background-container">
        <div class="pure-u-1 pure-u-md-1-2 vert-center horiz-center">
          <div class="image oversize">
            <img src="{{ site.baseurl }}/assets/images/head-icon.png" alt="">
            <img src="{{ site.baseurl }}/assets/images/tour-icon.png" alt="">
            <img src="{{ site.baseurl }}/assets/images/factory-icon.png" alt="">
          </div>
        </div>
          <div class="pure-u-1 pure-u-md-1-2 agenda-item vert-center slide-container">
          {% for event in site.data.agenda %}
            <div class="text vert-spacing horiz-spacing">
              <div class="text">
                <div class="vert-spacing">
                  <h3 class="agenda-title">{{ event.name }}</h3>
                  <small class="agenda-date bold">{{ event.date }} — {{ event.location }}</small>
                  <p class="agenda-description vert-spacing">{{ event.description }}</p>
                </div>
                <button href="{{ event.link }}" class="btn orange animate">Learn more</button>
              </div>
            </div>
          {% endfor %}
          </div>
      </div>
    </div>
  </section>

  <section id="tracks">
    <header>
      <h2 class="subtitle"><span class="underlined">Tracks</span></h2>
      <p class="headline">The interactive, by-invitation-only event will employ technology as the engine to manufacture solutions for <span class="bold">tomorrow’s biggest challenges.</span></p>
    </header>
    <div class="content">
      <div class="pure-g tracks vert-spacing">
        {% for track in site.data.tracks %}
          <div class="pure-u-1 pure-u-md-1-5">
        {% if forloop.first %}
            <div class="track active">
        {% else %}
            <div class="track">
        {% endif %}
              <p class="hide-unless-active">How can we</p>
              <p class="vert-spacing">{{ track.topic }}</p>
              <button class="btn white animate hide-unless-active">Learn more</button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="partners">
    <header>
      <h2 class="subtitle"><span class="underlined">Partners</span></h2>
    </header>
    <div class="endeva-initiative headline">
      <h3>An Endeva Initiative</h3>
    </div>
    <div class="partners">

    </div>
  </section>

</main>

{% include footer.html %}

<script>
    smoothScroll.init();
</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript">
  $('#agenda .slide-container').slick({
    prevArrow: $("#agenda .day-selector .day-1"),
    nextArrow: $("#agenda .day-selector .day-2"),
    swipe: true,
    infinite: false,
  });

  $('#overview .slide-container').slick({
    dots: true,
    infinite: true,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 3000,
    swipe: true,
    pauseOnHover: true,
  });

  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) || $(window).width() < 480) {

    var controller = new ScrollMagic.Controller();
    var tracks = document.querySelectorAll('.track');

    tracks.forEach(function(track) {
      var duration = track.scrollHeight;
      new ScrollMagic.Scene({
            triggerElement: track,
        })
        .setClassToggle(track, "active")
        .duration(duration)
        .addTo(controller)
    });
  }

</script>

</script>
</body>
</html>