section {
  margin-bottom: $lg-spacing;
  padding-top: $xl-spacing;
}

header {
  padding: $md-spacing $lg-spacing;
}

.outer-container {
  position: relative;

  .background-container {
    width: 100%;
    background: $off-white;
  }
}

.oversize {
  position: absolute;
}

.vert-center {
  display: flex;
  align-items: center;
}

.horiz-center {
  display: flex;
  justify-content: center;
}

.vert-spacing {
  padding: $md-spacing 0;
}

.horiz-spacing {
  padding: 0 $md-spacing;
}

.btn {
  border-radius: 2em;
  text-transform: uppercase;
  font-size: $sm-size;
  font-family: $primary-font;
  font-weight: $bold;
  padding: 0.4em 1em;
  text-decoration: none;
  border: 2px solid $orange;
  margin-bottom: $lg-spacing;

  &.white {
    background: $off-white;
    color: $orange;
  }

  &.orange {
    background: $orange;
    color: $white;
  }

  &.arrow {
    padding: 0.5em 0.7em;
    font-weight: $light;
  }

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }

  &.animate {
    transition: background 0.3s ease-in-out;

    &.white {
      &:hover, &:focus, &:active {
        background: $white;
      }
    }

    &.orange {
      &:hover, &:focus, &:active {
        background: transparentize($orange, 0.1);;
      }
    }
  }

}

