#factory {
  section#factory-outputs {
    ul {
      list-style: none;

      li {
        &:before {
          content: "\f111";
          font-family: FontAwesome;
          font-size: 0.6em;
          color: $orange;
          margin-right: $lg-spacing;
        }
      }
    }

    .quote {
      font-style: italic;
      font-size: 1.2em;
    }
  }

  section.schedule {
    .schedule-grid {

      .label {
        text-align: center;
      }

      .side-program {
        display: flex;

        .background-container {
          margin-left: $md-spacing;
          display: flex;
          align-items: center;
        }
      }

      .background-container {
        margin-bottom: $lg-spacing;
      }

      .time, .content {
        padding: $lg-spacing;
      }

      .time {
        display: flex;
        align-items: center;
        justify-content: left;

        > div {
          flex-grow: 1;
        }

        .clock {
          svg {
            width: 50px; height: 50px;
            background: $dark-red;
            border-radius: 50%;

            circle {
              fill: $dark-red;
              stroke: $orange;
              stroke-width: 32;
            }
          }

          &.morning {
            svg {
              transform: rotate(-165deg); /*hour starting point from 3:00 - (360/12 * hour) */

              circle {
                stroke-dasharray: 29 100; /*duration as percentage: 100/12 * hours */
              }
            }
          }

          &.lunch {
            svg {
              transform: rotate(-60deg);

              circle {
                stroke-dasharray: 13 100;
              }
            }
          }

          &.afternoon {
            svg {
              transform: rotate(-15deg);

              circle {
                stroke-dasharray: 29 100;
              }
            }
          }

          &.evening {
            svg {
              transform: rotate(90deg);

              circle {
                stroke-dasharray: 33 100;
              }
            }
          }
        }
      }
    }
  }
}