section#landing {
  padding-top: 80px;

  img.oversize {
    max-height: 90vh;
    top: -$xl-spacing;
  }

  h1 {
    line-height: 1.6em;
  }
}

section#overview {
  .image.oversize {
    height: 90vh;
    width: 40vw;
    background: url(../images/conference-group.png) center center no-repeat;
  }

  .background-container {
    margin: $xl-spacing 0;

    .text {
      margin: $lg-spacing 0;
    }
  }

  header {
    .headline {
      display: flex;
      align-items: center;
      justify-content: center;

      .headline-container {
        text-align: left;
        width: 740px;

        &.mobile {
          display: none;
        }

        &.desktop {
          display: block;
        }
      }
    }

  }
}

section#agenda {
  .day-selector {
    display: flex;
    justify-content: center;
    font-size: $sm-size;

    .btn.white {
      background: $white;
    }

    .btn.active {
      background: $orange;
      color: $white;
    }

    .btn-day1 {
      border-radius: 2em 0 0 2em;
    }

    .btn-day2 {
      border-radius: 0 2em 2em 0;
    }
  }

  .oversize.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;

    img {
      height: 33%;
    }
  }

  .agenda-item {
    .agenda-date {
      text-transform: uppercase;
    }
  }
}

section#tracks {
  .tracks {
    .track {
      padding: $md-spacing;
      text-align: center;
      transition: background 0.3s ease-in-out;

      .hide-unless-active {
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        text-transform: uppercase;
        font-weight: $bold;
      }

      &.active {
        background: $dark-red;
        color: $white;

        .hide-unless-active {
          opacity: 1;
        }
      }

      .btn {
        margin-bottom: $md-spacing;
        color: $dark-red;
        border-color: $dark-red;
      }
    }
  }
}