section#landing {
  padding-top: $lg-spacing;

  img.oversize {
    max-height: 80vh;
  }

  h1 {
    line-height: 1.6em;
  }

  a {
    text-decoration: none;
  }
}

section#overview {

  .background-container {

    .outer-container {
      margin: $lg-spacing 0;
    }
  }

  header {
    .headline {
      display: flex;
      align-items: center;
      justify-content: center;

      .headline-container {
        text-align: left;
        width: 740px;

        &.mobile {
          display: none;
        }

        &.desktop {
          display: block;
        }
      }
    }

  }
}

section#agenda {

  .oversize.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  .agenda-item {
    .agenda-date {
      text-transform: uppercase;
    }
  }

  .day-selector {
    .btn {
      margin-bottom: 0;
    }
  }
}

section#tracks {
  .tracks {
    .track {
      padding: $md-spacing;
      text-align: center;
      transition: background 0.3s ease-in-out;

      .hide-unless-active {
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        text-transform: uppercase;
        font-weight: $bold;
      }

      &.active {
        background: $dark-red;
        color: $white;

        .hide-unless-active {
          opacity: 1;
        }
      }

      .btn {
        margin-bottom: $md-spacing;
        color: $dark-red;
        border-color: $dark-red;
      }
    }
  }

  .pure-g, .pure-u-1 {
    display: flex;
  }
}

.background-container-sm {
  background: $off-white;
  width: 100%;
  height: 80%;
  position: absolute;
  z-index: -1;
}