/* COLOURS */
/* FONTS AND SIZES */
/* PADDING AND MARGINS */
section {
  margin-bottom: 40px;
  margin-top: 120px; }

header {
  padding: 20px 40px; }

.outer-container {
  position: relative;
  display: flex; }
  .outer-container .background-container {
    position: absolute;
    z-index: -1;
    height: 60%;
    align-self: center;
    width: 100%;
    background: #F5EFED; }

.vert-center {
  display: flex;
  align-items: center; }

.horiz-center {
  display: flex;
  justify-content: center; }

.vert-spacing {
  padding: 20px 0; }

.horiz-spacing {
  padding: 0 20px; }

.btn {
  border-radius: 2em;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 0.4em 1em;
  text-decoration: none;
  border: 2px solid #DA900A; }
  .btn.animate {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    .btn.animate:before {
      content: "";
      position: absolute;
      border-radius: 2em;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 50%;
      transform-origin: 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
    .btn.animate:hover:before, .btn.animate:focus:before, .btn.animate:active:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
  .btn.white {
    background: #F5EFED;
    color: #DA900A; }
    .btn.white:before {
      background: #FFFFFF; }
  .btn.orange {
    background: #DA900A;
    color: #FFFFFF; }
    .btn.orange:before {
      background: rgba(255, 255, 255, 0.1); }
  .btn.arrow {
    padding: 0.5em 0.7em;
    font-weight: 100; }
  .btn:focus {
    outline: none; }
  .btn:active {
    outline: none; }

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #2F4858;
  font-size: 24px;
  overflow-x: hidden;
  line-height: 1.5; }
  body h1, body h2 {
    font-family: "Amatic SC", Courier, serif;
    color: #DA900A;
    margin: 0; }
    body h1.subtitle, body h2.subtitle {
      text-align: center;
      margin-bottom: 40px; }
    body h1 .underlined, body h2 .underlined {
      border-bottom: 8px solid #AAC3DC;
      padding-bottom: 10px; }
  body h1 {
    font-size: 84px; }
  body h2 {
    font-size: 63px; }
  body h3 {
    font-size: 24px; }
  body p {
    font-size: 24px;
    margin: 0.5em 0; }
  body .headline {
    font-size: 1.4em;
    text-align: center; }
  body .bold {
    font-weight: 400; }
  body .small {
    font-size: 0.8em; }

nav {
  font-size: 0.8em;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8em;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0; }
  nav .pure-menu-link {
    padding: 0.4em 1em;
    border-radius: 2em; }
  nav .menu-heading {
    color: #DA900A;
    font-weight: 400; }

main {
  margin-top: 74px; }

section#landing .container {
  /*justify-content: space-around;*/ }
section#landing img.oversize {
  max-height: 90vh;
  top: 50px; }

section#overview .image.oversize {
  height: 90vh;
  width: 40vw;
  background: url(../images/conference-group.png) center center no-repeat; }

section#agenda .day-selector {
  display: flex;
  justify-content: center;
  font-size: 0.8em; }
  section#agenda .day-selector .btn.white {
    background: #FFFFFF; }
  section#agenda .day-selector .btn.active {
    background: #DA900A;
    color: #FFFFFF; }
  section#agenda .day-selector .btn-day1 {
    border-radius: 2em 0 0 2em; }
  section#agenda .day-selector .btn-day2 {
    border-radius: 0 2em 2em 0; }
section#agenda .oversize.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  section#agenda .oversize.image img {
    height: 33%; }

section#tracks .tracks .track {
  padding: 20px;
  text-align: center; }
  section#tracks .tracks .track .hide-unless-active {
    visibility: hidden;
    text-transform: uppercase;
    font-weight: 400; }
  section#tracks .tracks .track.active {
    background: #DA900A;
    color: #FFFFFF; }
    section#tracks .tracks .track.active .hide-unless-active {
      visibility: visible; }
