
section#track-landing {
  margin-bottom: 0;
  @include background-pattern;

  .track-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 70%;
    }
  }
}

section#track-description {
  padding-top: 0;

  .w-question {
    text-align: right;
    padding-right: 20px;

    p {
      font-size: 2em;
    }
  }

  li {
    font-size: $sm-size;
  }

  .text {
    border-left: 2px solid $light-blue;
  }
}

#tour {
  section#tour-stops {
    .tour-stops {
      .track-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;

          h1 {
            font-family: $numbers-font;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
          }
        }

        .background-image {
          height: 300px;
          width: 300px;
          border-radius: 50%;
          background: url($baseurl + '/assets/images/conference-group.png') center center;
          filter: brightness(40%);
          transition: filter 0.3s ease-in-out;
          clip-path: circle(140px at center);
        }

        &:hover {
          .background-image {
            filter: none;
          }

          .overlay {
            h1 {
              opacity: 0;
            }
          }
        }
      }

      .content-container {
        text-align: center;
        padding: $sm-spacing;
      }
    }
  }

  section.schedule {
    .schedule-grid {

      .background-container {
        margin-bottom: $lg-spacing;
      }

      .time, .content {
        padding: $lg-spacing;
      }

      .time {
        display: flex;
        align-items: center;
        justify-content: left;

        > div {
          flex-grow: 1;
        }

        .clock {
          svg {
            width: 50px; height: 50px;
            background: $dark-red;
            border-radius: 50%;

            circle {
              fill: $dark-red;
              stroke: $orange;
              stroke-width: 32;
            }
          }

          &.midday {
            svg {
              transform: rotate(-75deg); /*hour starting point from 3:00 - (360/12 * hour) */

              circle {
                stroke-dasharray: 4 100; /*duration as percentage: 100/12 * hours */
              }
            }
          }

          &.afternoon {
            svg {
              transform: rotate(-30deg);

              circle {
                stroke-dasharray: 33 100;
              }
            }
          }

          &.evening {
            svg {
              transform: rotate(90deg);

              circle {
                stroke-dasharray: 33 100;
              }
            }
          }
        }
      }
    }
  }
}

.factory-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $lg-spacing;
}