body {
  font-family: $primary-font;
  color: $dark-blue;
  font-size: $base-size;

  h1, h2 {
    font-family: $title-font;
    color: $orange;

    .underlined {
      border-bottom: 8px solid $light-blue;
      padding-bottom: $sm-spacing;
    }
  }

  h1 {
    font-size: $h1-size;
  }

  h2 {
    font-size: $h2-size;
  }

  h3 {
    font-size: $base-size;
  }

  p {
    font-size: $base-size;
  }
}