body {
  font-family: $primary-font;
  font-weight: $light;
  color: $dark-blue;
  font-size: $base-size;
  overflow-x: hidden;
  line-height: $base-line-height;

  h1, h2 {
    font-family: $title-font;
    text-transform: uppercase;
    color: $orange;
    margin: 0;

    &.subtitle {
      text-align: center;
      margin-bottom: $lg-spacing;
    }
  }

  h1 {
    font-size: $h2-size;
    font-weight: 300;
  }

  h2 {
    font-size: $h2-size;
  }

  h3 {
    font-size: $base-size;
  }

  p {
    font-size: $base-size;
    margin: 0.5em 0;
  }

  .headline {
    font-size: $lg-size;
    text-align: center;
  }

  .bold {
    font-weight: $bold;
  }

  .small {
    font-size: $sm-size
  }

  .underlined {
    border-bottom: 2px solid $light-blue;
    padding-bottom: $sm-spacing;
  }
}