---
layout: default
title: Inclusive Innovation 2030 | ii2030
overview_slides:
  - img_path: /assets/images/conf-pic-1.jpg
    text: Over two exciting days, participants from every sector will <span class="bold">connect</span>, <span class="bold">collaborate</span> and <span class="bold">construct</span> new ideas.
  - img_path: /assets/images/conf-pic-2.jpg
    text: The conference will foster mutual learning, as well as the creation of <span class="bold">valuable partnerships</span> to enhance and share knowledge.
  - img_path: /assets/images/conf-pic-3.jpg
    text: ii2030 will be a first step in exploring not only why these challenges to inclusion exist, but also how we can apply <span class="bold">cutting-edge technology</span> and solutions to interrupt them and build a more inclusive society by 2030.
---
<main>
  <section id="landing">
    <div class="outer-container vert-center">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2 vert-center">
          <div class="horiz-spacing vert-spacing">
            <h1 class="underlined">Innovating for a more inclusive 2030</h1>
            <div class="vert-spacing">
              <h3>Inclusive Innovation Tour & Factory</h3>
              <p class="bold">An Endeva initiative</p>
              <p>Oct 18 - 19, 2017<br>Berlin, Germany</p>
            </div>
            <a data-scroll href="#overview">
              <button class="btn red animate">Learn more</button>
            </a>
            <a href="{{ site.registration_page_url }}">
              <button class="btn orange animate">Register</button>
            </a>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 image-container">
          <div class="ii2030-bubble"><h2>ii2030</h2></div>
          <img src="{{ site.baseurl }}/assets/images/head.png" alt="Robot head" class="pure-img oversize animate-buzz-out">
        </div>
      </div>
    </div>
  </section>

  <section id="overview">
    <header>
      <h2 class="subtitle"><span class="underlined">Event Overview</span></h2>
      <div class="headline vert-spacing">
        <span class="headline-container">
          ii2030 will bring together innovators from corporates, startups, the public sector, NGOs, and science to create solutions for a more inclusive society by 2030
        </span>
      </div>
    </header>
    <div class="outer-container slide-container">
      {% for slide in page.overview_slides %}
      <div class="slide background-container dark">
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-2 vert-center horiz-center">
            <div class="image oversize">
              <img src="{{ site.baseurl }}{{ slide.img_path }}" alt="ii2030" class="pure-img">
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-2 vert-center">
            <div class="text horiz-spacing vert-spacing">
              <p>{{ slide.text }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section id="agenda">
    <header>
      <h2 class="subtitle"><span class="underlined">Agenda</span></h2>
      <div class="headline">
        <div class="day-selector">
          <button data-day="day-1" class="btn btn-day1 white active day-1">Day 1: Tour</button>
          <button data-day="day-2" class="btn btn-day2 white day-2">Day 2: Factory</button>
        </div>
      </div>
    </header>
    <div class="outer-container vert-center">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="image oversize">
            <img src="{{ site.baseurl }}/assets/images/head-icon-standardized.png" alt="Robot head" class="pure-img">
            <img src="{{ site.baseurl }}/assets/images/tour-icon-standardized.png" alt="Robot body" class="pure-img animate-move-right active">
            <img src="{{ site.baseurl }}/assets/images/factory-icon-standardized.png" alt="Robot feet" class="pure-img animate-move-right">
          </div>
        </div>
          <div class="pure-u-1 pure-u-md-1-2 agenda-item vert-center slide-container">
          {% for event in site.data.agenda %}
            <div class="text vert-spacing horiz-spacing">
              <div class="text">
                <div class="vert-spacing">
                  <h3 class="agenda-title">{{ event.name }}</h3>
                  <small class="agenda-date bold">{{ event.date }} — {{ event.location }}</small>
                  <p class="agenda-description vert-spacing">{{ event.description }}</p>
                  <p>For more details, select a track.</p>
                  <a data-scroll href="/#tracks"><button class="btn orange animate">Tracks</button></a>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
      </div>
    </div>
  </section>

  <section id="tracks">
    <header>
      <h2 class="subtitle"><span class="underlined">Tracks</span></h2>
      <p class="headline vert-spacing">The interactive, by-invitation-only event will employ technology as the engine to manufacture solutions for <span class="bold">tomorrow’s biggest challenges.</span></p>
    </header>
    <div class="content background-container">
      <div class="pure-g tracks">
        {% for track in site.data.tracks %}
          <div class="pure-u-1 pure-u-md-1-5">
        {% if forloop.first %}
            <div class="track active">
        {% else %}
            <div class="track">
        {% endif %}
              <img src="{{ site.baseurl }}{{ track.icon }}" alt="icon">
              <h3>{{ track.title }}</h3>
              <p>{{ track.topic }}</p>
              {% if track.link %}
              <a href="{{ site.baseurl }}{{ track.link }}"><button class="btn white animate hide-unless-active">Learn more</button></a>
              {% else %}
              <a><button class="btn white hide-unless-active disabled">Learn more</button></a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="partners">
    <header>
      <h2 class="subtitle"><span class="underlined">Partners</span></h2>
    </header>
    <div class="host partner-group headline">
      <h3>Hosted by </h3>
      <img src="{{ site.baseurl }}/assets/images/logos/endeva.png" alt="Endeva logo">
    </div>
    <div class="partner-group headline">
      <h3>Co-hosted by </h3>
      <img src="{{ site.baseurl }}/assets/images/logos/iba.jpg" alt="IBA logo">
      <img src="{{ site.baseurl }}/assets/images/logos/iban.png" alt="IBAN logo">
      <img src="{{ site.baseurl }}/assets/images/logos/ixds.png" alt="IXDS logo">
    </div>
    <div class="partner-group headline">
      <h3>Track Partners</h3>
      <img src="{{ site.baseurl }}/assets/images/logos/ekutir.png" alt="eKutir logo">
      <img src="{{ site.baseurl }}/assets/images/logos/inclusive-rising-north.jpg" alt="Inclusive/Rising North logo">
      <img src="{{ site.baseurl }}/assets/images/logos/airbus.png" alt="Airbus logo">
      <img src="{{ site.baseurl }}/assets/images/logos/dfki.jpg" alt="DFKI logo">
    </div>
  </section>

</main>

<script>
    smoothScroll.init();
</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript">
  $('#agenda .slide-container').slick({
    prevArrow: $("#agenda .day-selector .day-1"),
    nextArrow: $("#agenda .day-selector .day-2"),
    swipe: true,
    infinite: false,
  });

  $('#overview .slide-container').slick({
    dots: true,
    infinite: true,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 3000,
    swipe: true,
  });

  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) || $(window).width() < 480) {

    var controller = new ScrollMagic.Controller();
    var tracks = document.querySelectorAll('.track');

    tracks.forEach(function(track) {
      var duration = track.scrollHeight;
      new ScrollMagic.Scene({
            triggerElement: track,
        })
        .setClassToggle(track, "active")
        .duration(duration)
        .addTo(controller)
    });
  }

</script>