---
layout: default
title: Inclusive Innovation 2030 | ii2030
overview_slides:
  - img_path: /assets/images/sdgs-4.png
    heading: The Challenge
    text: Inclusion is the Number 1 challenge of tomorrow. Increasing inequality reduces growth and leads to social and economic instability. Climate change creates risks for many of the worlds poorest. Population growth exacerbates present issues of access to basic services and income. We need to innovate to create opportunity for all.
  - img_path: /assets/images/circuit board.jpg
    heading: The Solution
    text: Coupling inclusive innovation with technological advances can unlock opportunities that enable companies and other actors and to turn global challenges into opportunities for growth. Taking a future perspective and acting upon it today will ensure that we are better able to use these technologies to achieve greater inclusion and growth by 2030.
  - img_path: /assets/images/TEDxSydney 2016.jpg
    heading: How to Get There
    text: The ii2030 draws inspiration from a hyper-focused and intensive service design process created by IXDS. This process, aided by mapping and storytelling, will foster the creation of technology-led solutions to address the SDGs. The methodology will guide participants in their understanding of the challenges future users face. Through techniques that enhance their creativity, participants will be co-create new, holistic solutions that involve all needed stakeholders. The end-product of the workshop will be aminimum viable prototype and a concrete roadmap to success.

tour_agenda:
  name: Inclusive Innovation Tour
  date: Oct 18, 2017
  location: All around Berlin
  description: Several tour guides will take participants on an exploration of Berlin’s buzzing inclusive innovation scene to provide inspiration and information around the ii2030 challenges.
  link: /tour

factory_agenda:
  name: Inclusive Innovation Factory
  date: Oct 19, 2017
  location: Neue Mälzerei, Berlin
  description: In design-thinking workshops of up to 10 participants, we will work out how technology can drive inclusive innovation, and what is needed to realize solutions. Participants are carefully selected to bring together those actors who can make the change - and only those.
  link: /factory
---
<main>
  <section id="landing">
    <div class="outer-container vert-center">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2 vert-center on-top">
          <div class="horiz-spacing vert-spacing">
            <h1 class="underlined">Innovating for a more inclusive 2030</h1>
            <div class="vert-spacing">
              <h3>Inclusive Innovation Tour & Factory</h3>
              <p class="bold">An Endeva initiative</p>
              <p>Oct 18 - 19, 2017<br>Berlin, Germany</p>
            </div>
            <a data-scroll href="#overview">
              <button class="btn orange animate">Learn more</button>
            </a>
            <a href="{{ site.registration_page_url }}">
              <button class="btn red animate">Register</button>
            </a>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 image-container">
          <img src="{{ site.github.url }}/assets/images/head-with-bubble.png" alt="Robot head" class="pure-img oversize">
        </div>
      </div>
    </div>
  </section>

  <section id="overview">
    <header>
      <h2 class="subtitle"><span class="underlined">Event Overview</span></h2>
      <div class="headline vert-spacing">
        <span class="headline-container">
          ii2030 will bring together innovators from corporates, startups, the public sector, NGOs and science to create solutions for a more inclusive society by 2030.
        </span>
      </div>
    </header>
    <div class="outer-container slide-container background-container dark">
      {% for slide in page.overview_slides %}
      <div class="slide">
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-2 vert-center horiz-center">
            <div class="image oversize">
              <img src="{{ site.github.url }}{{ slide.img_path }}" alt="ii2030" class="pure-img">
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-2 vert-center">
            <div class="text horiz-spacing vert-spacing-lg">
              <h2>{{ slide.heading }}</h2>
              <p>{{ slide.text }}</p>
              <p>
                <i class="material-icons pause-btn">pause</i>
                <i class="material-icons play-btn">skip_next</i>
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section id="agenda">
    <header>
      <h2 class="subtitle"><span class="underlined">Agenda</span></h2>
      <div class="headline">
        <div class="day-selector">
          <button data-day="day-1" class="btn btn-day1 white active day-1">Day 1: Tour</button>
          <button data-day="day-2" class="btn btn-day2 white day-2">Day 2: Factory</button>
        </div>
      </div>
    </header>
    <div class="outer-container slide-container">
      <div class="slide tour-agenda">
        {% include tour_agenda.html %}
      </div>
      <div class="slide factory-agenda">
        {% include factory_agenda.html %}
      </div>
    </div>
    <div class="headline">
      <div class="day-selector">
        <button data-day="day-1" class="btn btn-day1 white active day-1">Day 1: Tour</button>
        <button data-day="day-2" class="btn btn-day2 white day-2">Day 2: Factory</button>
      </div>
    </div>
  </section>

  <section id="tracks">
    <header>
      <h2 class="subtitle"><span class="underlined">Tracks</span></h2>
      <p class="headline vert-spacing">The interactive event will employ technology as the engine to manufacture solutions for <span class="bold">tomorrow’s biggest challenges.</span></p>
    </header>
    <div class="content background-container">
      <div class="pure-g tracks">
        {% for track in site.data.tracks %}
          <div class="pure-u-1 pure-u-md-1-5">
        {% if forloop.first %}
            <div class="track active">
        {% else %}
            <div class="track">
        {% endif %}
              <img src="{{ site.github.url }}{{ track.icon }}" alt="icon">
              <h3>{{ track.tech }}</h3>
              <p>{{ track.topic }}</p>
              {% if track.link %}
              <a href="{{ site.github.url }}{{ track.link }}"><button class="btn white animate hide-unless-active">Learn more</button></a>
              {% else %}
              <p class="hide-unless-active">- Coming soon -</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="partners">
    <header>
      <h2 class="subtitle"><span class="underlined">Partners</span></h2>
    </header>
    <div class="host partner-group headline">
      <h3>An <a href="http://www.endeva.org/" target="_blank"><img id="endeva-logo" src="{{ site.github.url }}/assets/images/logos/endeva.png" alt="Endeva logo"></a> initiative</h3>
    </div>
    <div class="partner-group headline">
      <h3>Co-hosted by </h3>
      {% for co_host in site.data.partners.co_hosts %}
        <img src="{{ site.github.url }}/assets/images/logos/{{ co_host.logo }}" alt="{{ co_host.name }} logo"/>
      {% endfor %}
    </div>
    <div class="partner-group headline">
      <h3>Partners</h3>
      {% for content_partner in site.data.partners.content_partners %}
        <img src="{{ site.github.url }}/assets/images/logos/{{ content_partner.logo }}" alt="{{ content_partner.name }} logo"/>
      {% endfor %}
    </div>
  </section>


  {% if site.data.participants %}
  <section id="participants">
    <header>
      <h2 class="subtitle"><span class="underlined">Participants</span></h2>
    </header>
    <div class="participants-slider slide-container">
      {% for participant in site.data.participants %}
        <div class="slide">
          <a href="{{ participant.url }}" target="_blank">
            <img src="{{ site.github.url }}/assets/images/logos/{{ participant.logo }}" alt="{{ participant.name }}" class="pure-img" />
          </a>
        </div>
      {% endfor %}
    </div>
  </section>
  {% endif %}

</main>

<script>
    smoothScroll.init();
</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript">
  $('#agenda .slide-container').slick({
    prevArrow: $("#agenda .day-selector .day-1"),
    nextArrow: $("#agenda .day-selector .day-2"),
    swipe: false,
    infinite: false,
    arrows: true,
    adaptiveHeight: true,
  });

  $('#overview .slide-container').slick({
    infinite: true,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 4000,
    swipe: true,
    pauseOnHover: false,
  });

  $('#participants .slide-container').slick({
    dots: false,
    arrows: true,
    autoplay: true,
    autoplaySpeed: 1500,
    pauseOnHover: true,
    swipe: true,
    infinite: true,
    slidesToShow: 8,
    slidesToScroll: 1,
    responsive: [
      {
        breakpoint: 922,
        settings: {
          slidesToShow: 6,
          slidesToScroll: 1,
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 5,
          slidesToScroll: 1,
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1,
        }
      },
    ]
  })

  $('#overview .slide-container .play-btn').on('click', function() {
    $('#overview .slide-container').slick('slickNext')
    $('#overview .slide-container').slick('slickPlay')
  })

  $('#overview .slide-container .pause-btn').on('click', function() {
    $('#overview .slide-container').slick('slickPause')
  })

  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) || $(window).width() < 480) {

    var controller = new ScrollMagic.Controller();
    var tracks = document.querySelectorAll('.track');

    tracks.forEach(function(track) {
      var duration = track.scrollHeight;
      new ScrollMagic.Scene({
            triggerElement: track,
        })
        .setClassToggle(track, "active")
        .duration(duration)
        .addTo(controller)
    });
  }

</script>