---
layout: track
title: Precision Agriculture for Smallholder Farmers
subtitle: How can we increase smallholder yields through precision agriculture?
icon_path: /assets/icons/agri-red.svg
track_description: This is a great description.
intro_slides:
  - question: <span class="bold">What</span> is disruptive technology doing for agriculture?
    answer: Precision Agriculture allows farmers to manage their fields for maximum output by using data (e.g. on weather, soil and diseases) and digitized farming equipment to apply the right inputs at the right time. With this technology, farmers are able to conserve valuable resources, such as water and fertilizer, and reduce pollution while increasing both quality and quantity of their yields.
  - question: <span class="bold">Why</span> do we need more inclusive solutions?
    answer: The demand for food is increasing. By 2030, there will be a projected 9.3 billion people on the globe, most of them in Asia and sub-Saharan Africa. In these regions, 80% of the farmland is managed by smallholder farmers, who produce 80% of the food consumed. Globally, there are more than 500 million small farms. <br>Precision agriculture could boost the productivity of smallholder farmers, who usually lack access to information and have few means to afford inputs. With precision agriculture, they could increase yields and maximize the payback of their investments. <br>So far, services to inform farmers of weather patterns, soil structure, agricultural practices etc. exist separately, but not as integrated solutions. Moreover, farmers have difficulty implementing the recommendations since they often lack access to better inputs or machinery. Finally, they may not be able to sell their products because they lack access to markets.
  - question: <span class="bold">Who</span> would we like to attend?
    answer: The precision agriculture track will bring together
    list:
      - item: Startups and social entrepreneurs offering mobile solutions to provide smallholders with timely and accurate information about weather, soil, diseases, and markets
      - item: Corporates producing and selling agricultural inputs, including seed, fertilizer and crop protection, as well as irrigation systems and other machinery
      - item: NGOs building capacities of and organizing smallholder farmers locally
      - item: Agricultural product off-takers, who require end-to-end traceability to know exactly what went into production
      - item: The head of a smallholder farmer cooperative, who can advise the team on the needs and usability of the solution
    callToAction: If you fit one of these profiles, please apply for an invitation through our registration process.
  - question: <span class="bold">How</span> will we create impact?
    answer: At the conclusion of the workshop in Berlin, the team will walk away with a concrete strategy to make digital farming affordable and accessible to smallholder farmers. The ii2030 online platform will continue to be used by the team following the workshop, to develop a prototype and test the solution with smallholder farmers in the field, with guidance and support from Endeva. Together, the team will implement a solution that will drive economic growth and impact not only for smallholder farmers and agribusiness, but for all those affected by hunger and malnutrition.

tour_slides:
  - img_path: /assets/images/conf-pic-4.jpg
    text: Our tour guides will take participants on an exploration of Berlin’s buzzing inclusive innovation scene to provide inspiration and information for each track.
  - img_path: /assets/images/conf-pic-5.jpg
    text: The 4-hour tour will take participants to 3 visionary organizations, where hosts will lead a discussion on how greater inclusion in the agriculture sector will impact society in 2030.
  - img_path: /assets/images/conf-pic-6.jpg
    text: The day will end with a “Meet & Greet” networking dinner. Participants from all tracks will reconvene over dinner to share what they have learned and get to know one another.
  - img_path: /assets/images/conf-pic-7.jpg
    text: Participants will gain inspiration from and knowledge on the various perspectives of how inclusive innovation in agriculture will create positive change. They will gain an up-close-and-personal look into the three organizations, connect with their leaders and use the inspiration to guide and motivate them through their co-creation journey at the Inclusive Innovation Factory and beyond.

tour_stops_headline: 'The Precision Agriculture track will take participants on a tour of the following three organizations:'

tour_stops:
  - organization: The World Food Programme
    description: A humanitarian organization that works with smallholder farmers around the world to overcome hunger and promote food security.
  - organization: SAP Berlin
    description: A leading global company developing software to seamlessly connect people and technology in real-time to develop their businesses and drive impact and growth globally.
  - organization: Bosch
    description: A German multinational engineering and electronics company, developing and supplying farmers around the world with smarter and more advanced machinery.
---

<div id="tour">
  <section id="intro">
    <div class="headline">
      <div class="day-selector">
        <button data-day="day-1" class="btn btn-day1 white active day-1">Day 1: Tour</button>
        <a href="{{ site.baseurl }}/tracks/precision-agriculture/factory#intro">
          <button data-day="day-2" class="btn btn-day2 white day-2">Day 2: Factory</button>
        </a>
      </div>
    </div>
    <header>
      <h2 class="subtitle"><span class="underlined">Day 1: Inclusive Innovation Tour</span></h2>
      <div class="headline vert-spacing">
        Hit the road on our Inclusive Innovation Tour of Berlin!
      </div>
    </header>

    <div class="outer-container slide-container">
      {% for slide in page.tour_slides %}
      <div class="slide background-container dark">
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-2 vert-center horiz-center">
            <div class="image oversize">
              <img src="{{ site.baseurl }}{{ slide.img_path }}" alt="ii2030" class="pure-img">
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-2 vert-center">
            <div class="text horiz-spacing vert-spacing">
              <p>{{ slide.text }}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section id="tour-stops">
    <header>
      <h2 class="subtitle"><span class="underlined">Tour Stops</span></h2>
      <p class="headline vert-spacing">{{ page.tour_stops_headline }}</p>
    </header>
    <div class="pure-g tour-stops">
      {% for tour_stop in page.tour_stops %}
      <div class="pure-u-1 pure-u-md-1-3">
        <div class="track-container">
          <div class="background-image">
          </div>
          <div class="overlay"><h1>{{ forloop.index }}</h1></div>
        </div>
        <div class="content-container">
          <h3>{{ tour_stop.organization }}</h3>
          <p>{{ tour_stop.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="schedule">
    <header>
      <h2 class="subtitle"><span class="underlined">Schedule</span></h2>
    </header>
    <div class="schedule-grid">
      <div class="pure-g background-container">
        <div class="pure-u-1 pure-u-md-1-3">
          <div class="time">
            <div class="text">
              <h3>Midday</h3>
              <p>12:30 - 13:00</p>
            </div>
            <div class="clock midday">
              <svg viewBox="0 0 32 32">
                <circle r="16" cx="16" cy="16" />
              </svg>
            </div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-2-3">
          <div class="content">
            <h3>Registration & inclusive goodie bag pick-up</h3>
            <p>Get the low-down on the day with a kick-off presentation and instructions for your track</p>
          </div>
        </div>
      </div>
      <div class="pure-g background-container">
        <div class="pure-u-1 pure-u-md-1-3">
          <div class="time">
            <div class="text">
              <h3>Afternoon</h3>
              <p>14:00 - 18:00</p>
            </div>
            <div class="clock afternoon">
              <svg viewBox="0 0 32 32">
                <circle r="16" cx="16" cy="16" />
              </svg>
            </div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-2-3">
          <div class="content">
            <h3>Inclusive Innovation Tour</h3>
            <p>Explore Berlin’s buzzing social innovation scene with a 4-hour tour of local inclusive businesses, innovative companies and leading think thanks.</p>
          </div>
        </div>
      </div>
      <div class="pure-g background-container">
        <div class="pure-u-1 pure-u-md-1-3">
          <div class="time">
            <div class="text">
              <h3>Evening</h3>
              <p>18:00 - 22:00</p>
            </div>
            <div class="clock evening">
              <svg viewBox="0 0 32 32">
                <circle r="16" cx="16" cy="16" />
              </svg>
            </div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-2-3">
          <div class="content">
            <h3>Meet & Greet Dinner</h3>
            <p>Meet and connect with other participants of the tour and conference</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="factory-button">
    <a href="{{ site.baseurl }}/tracks/precision-agriculture/factory#intro" class="btn animate orange">Day 2: Factory<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
  </div>
</div>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script>
  $('#intro .slide-container').slick({
    dots: true,
    infinite: true,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 3000,
    swipe: true,
    pauseOnHover: true,
  });

  $('#track-description .slide-container').slick({
    dots: true,
    infinite: true,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 3000,
    swipe: true,
    pauseOnHover: true,
  })

  $('#track-description .next-btn').click(function() {
    $('#track-description .slide-container').slick('slickNext');
  })

</script>